@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel&family=Gochi+Hand&family=Indie+Flower&family=Liu+Jian+Mao+Cao&family=Long+Cang&family=Ma+Shan+Zheng&family=Playfair+Display&family=ZCOOL+XiaoWei&family=Zhi+Mang+Xing&display=swap");

:root {
  --resURL: url("https://myworldbox.github.io/resources/images/VLascii2.gif");
}

@element: border-radius, font-size, padding, margin, gap;
@color: #ffffff, #dd8282, #da9168, lawngreen, rgb(209, 201, 223), gray,
  rgb(223, 191, 202), palegoldenrod, rgb(209, 99, 26), rgb(51, 255, 0),
  rgb(96, 211, 42), plum, blue, black, rgb(17, 25, 95);

* {
  margin: 0 auto;
  padding: 0;
  border: 0;
  overflow: hidden;
  word-wrap: break-word;
  font-family: "Times New Roman", Times, serif;
}

body {
  background: var(--resURL);
  color: aquamarine;
}

html {
  overflow: auto;
  text-align: center;
}

.index-style( @current: 1; @max: 100; @offset: 1; @unit: px; @cell)
  when
  (@current <= @max) {
  .@{cell}-@{current} {
    @{cell}: ~"@{current}@{unit}";
  }
  .index-style((@current + @offset), @max, @offset, @unit, @cell);
}

.element-to-style(@i: length(@element)) when (@i > 0) {
  .element-to-style(@i - 1);

  .index-style(@current:1, @max: 100, @offset: 1, @unit: "px", @cell: extract(@element, @i));
}

.dictionary-to-style(@text, @i:1, @element, @max:length(@element)) when (@i <= @max) {

  .dictionary-to-style(@text, @i: (@i + 1), @element, @max);
.@{text}-@{i} {
    @{text}: extract(@element, @i);
  }
}

.element-to-style();

.dictionary-to-style(@text: color, @element: @color);
.dictionary-to-style(@text: background, @element: @color);

.font-1-1 {
  font-family: "Playfair Display", serif;
}

.font-1-2 {
  font-family: "Caveat", cursive;
}

.font-1-3 {
  font-family: "Cinzel", serif;
}

.font-1-4 {
  font-family: "Gochi Hand", cursive;
}

.font-1-5 {
  font-family: "Merienda", cursive;
}

.font-2-1 {
  font-family: "Liu Jian Mao Cao", cursive;
}

.font-2-2 {
  font-family: "Long Cang", cursive;
}

.font-2-3 {
  font-family: "Ma Shan Zheng", cursive;
}

.font-2-4 {
  font-family: "ZCOOL XiaoWei", serif;
}

.font-2-5 {
  font-family: "Zhi Mang Xing", cursive;
}

.border-1 {
  border: 1px solid white;
}

.border-2 {
  border: 1px solid yellow;
}

.border-3 {
  border: 1px solid blue;
}

.border-4 {
  border: 1px solid black;
}

.border-bottom-1 {
  border-bottom: 1px solid black;
}

.text-align-1 {
  text-align: left !important;
}

.text-align-2 {
  text-align: center !important;
}

.text-align-3 {
  text-align: right !important;
}

.opacity-0 {
  opacity: 1;
}

.opacity-1 {
  opacity: 0.5;
}
